<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../controllers/register.php" method="post">
        <input type= "text" name= "Nombre" id="" required placeholder= "escriba su nombre">
        <input type= "email" name= "Correo" id="" required placeholder= "escriba su correo">
        <input type= "text" name= "Usuario" id="" required placeholder= "escriba su Usuario">
        <input type= "password" name= "Clave" id="" required placeholder= "escriba su Clave">

     <button type="submit" name="Registrar">Guardar</button>

    </form>
</body>
</html>